// COLORS
$blackColor: #242424;
$darkGreyColor: #3a3a3a;
$greyColor: #616161;
$lightGreyColor: #9e9e9e;
$whiteColor: #e0e0e0;

// FONTS
$titleFont: Arial, Helvetica, sans-serif;
$fontFamily: 'Roboto', sans-serif;
$fontFamilyMono: 'Roboto Mono', monospace;
$fontFamilySans: 'Roboto', sans-serif;
$fontFamilySerif: 'Roboto Slab', serif;

$layout-breakpoint-mobile: 480px;
$layout-breakpoint-tablet: 1080px;